

a:link 		{ color: #BBAA99;}
a:visited	{ color: #BBAA99;}
a:active	{ color: #FFEEDD;}
a:hover		{ color: #FFEEDD;}

a {
	border: 0px;
}

img {
	border: 0px;
}


/* --------------------------------------------------------------
	LayOut
 -------------------------------------------------------------- */
#wrapper{
	max-width: 800px;
	position: relative;
	padding: 0px;
	border: 0px;
	margin: 0 auto;

}

/* Header Elements */

header {
	width: 800px;
	height: 300px;
	padding: 0px;
	border: 0px;
	margin: auto;
}

.copy {
	left: 50px;
	top: 100px;
	position: absolute;
	padding: 0px;
}

.title {
	left: 300px;
	top: 0px;
	position: absolute;
	padding: 0px;
}

/* Section Elements */

section {
	width: 640px;
	padding: 0px;
	border: 0px;
	margin: auto auto;
}

footer {
	text-align: center;
	clear: both;
	width: 640px;
	padding: 10px;
	border: 0px;
	margin: auto auto;
}

div.left_bar {
	float: left;
	width: 160px;
	padding: 0px;
	border: 0px;
	margin: 0px;
	background-repeat: repeat-y;
	/*background-image:  url("SideBack.png");*/
}

div.right_bar {
	float: right;
	width: 160px;
	padding: 0px;
	border: 0px;
	margin: 0px;
	background-repeat: repeat-y;
	/*background-image:  url("SideBack.png");*/
}



/* --------------------------------------------------------------
	Contents
   -------------------------------------------------------------- */

body {
	color: #D0A672;
	background-color: #000000;
	background-position: top center;
	background-repeat: repeat-y;
	background-image:  url("NecmasWebBack.png");
	padding: 0px;
	border: 0px;
	margin: 0px;
	font-family:"ÉÅÉCÉäÉI","Meiryo",Osaka, "ÉqÉâÉMÉmäpÉS Pro W3", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 160%;
}


.paragraph{
	padding: 10px;
	border:  0px;
	margin:  0px;
}

ul{
	padding: 0px;
	border:  0px;
	margin:  0px 8px 0px 8px;
}

li{
	padding: 0px;
}

.image {
	text-align: center;
	padding: 10px;
}

.newest{
	padding: 20px;
}

.base{
	width: 960px;
	text-align: left;
	padding: 0px;
	border:  0px;
	margin:  0px;
	background-image:  url("NecmasWebBack.png");
}

.version{
	text-align: right;
}


h2.ptitle{
	font-size: 18px;
	line-height: 100%;
	padding: 10px 10px 10px 10px;
	border: 4px #554433 solid;
	background-repeat: no-repeat;
	background-color: #000000;
	background-image:  url("slate.png");
}

h2.topmenu{
	width: 160px;
	font-size: 14px;
	line-height: 32px;
	text-shadow: 5px 2px 2px #402211;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: bottom;
	height: 32px;
	/*background-image: url("MenuBanner.png");
	color: #F0C09E;*/
}

h3{
	font-size: 14px;
	line-height: 100%;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	border: 2px #554433 solid;
	background-color: #000000;
	background-image:  url("slate.png");
}

ul{
	padding: 0px 0px 0px 30px;
}

li{
	text-align: left;
	padding: 0px 0px 0px 0px;
}


table.racecase{
	empty-cells: show;
	border: 1px #FFEEEE solid;
    font-size: 11px;
    line-height: 13px;
}

table.raceselecter{
	width: 600px;
}


th.racecase{
	height: 22px;
	padding: 3px;
	margin:  3px;
	border: 1px #FFFFFF solid;
	white-space: nowrap;
/*	word-break: keep-all;*/
	text-align: left;
    font-size: 11px;
    line-height: 13px;
}

th.racecase2{
	height: 10px;
	padding: 3px;
	margin:  3px;
	border: 1px #FFFFFF solid;
	white-space: nowrap;
/*	word-break: keep-all;*/
	text-align: center;
	writing-mode: tb-rl;
	font-size: 11px;
	line-height: 13px;
}

td.racecase{
	height: 10px;
	padding: 3px;
	margin: 3px;
	border: 1px #FFFFFF solid;
	white-space: nowrap;
/*	word-break: keep-all;*/
	text-align: center;
	font-size: 11px;
	line-height: 13px;
}


td.raceselecter{
	width: 95px;
	font-size: 11px;
	line-height: 13px;
}

